<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Employer Registration</a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="signup.html">Register</a></li>
					<li><a href="first.html">Return</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner" img="images/e1.jpg">
				<div class="inner">
					<h1>Employer Registration</h1>
					<p>Login to take test. </p>
					<form method="post" action="/employers/login">
					<div class="field half first">
						<h3 class="log">Username</h3>
						<input type="text" name="username" id="un">
					</div>
					<div class="field half first">
						<h3 class="log">Password</h3>
						<input type="password" name="password" id="pw">
					</div>
					<br>
					<button type="submit" class="button special">Login</button>
					</form>
				</div>
			</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>