
<!DOCTYPE HTML>
<html>
    <head>
        <title>Job Portal For PwD's</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-google {
      background: #dd4b39;
      color: white;
    }

    .fa-linkedin {
      background: #007bb5;
      color: white;
    }

    .fa-yahoo {
      background: #430297;
      color: white;
    }
    .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.1 {
    background-image: url("footer.png");
    background-color: #cccccc;
}

</style>
    </head>
    <body>

        <!-- Header -->
            <header id="header" class="alt">
                <div class="logo"><img src="images/utthan.png" height="30px" width="100px" style="background-color: #111e14;"></div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="/mainhome">Home</a></li>
                    <li>
                       <div class="dropdown">
                              <span style="color:white">Login</span>
                              <div class="dropdown-content">
                                <a href="/users/login" >User</a><br>
                                <a href="/trainers/login">Trainer</a><br>
                                <a href="/employers/login">Employers</a>
                              </div>
                            </div>
                    </li><br>

                    
                    <li>
                       <div class="dropdown">
                              <span style="color:white">Register</span>
                              <div class="dropdown-content">
                                <a href="/users/register">User</a><br>
                                <a href="/trainers/register">Trainer</a><br>
                                <a href="/employers/register">Employers</a>
                              </div>
                            </div>
                    </li>

                    <li><a href="">Inspiration</a></li>
                    <li><a href="">Gallery & Events</a></li>
                    <li><a href="">Schemes & Circulars</a></li>
                    
                </ul>
            </nav>

        
            <section id="banner" data-video="images/ups">
                <div >
                    <h1>Online Portal For the Differently Abled</h1>
                    <p>An online web application for the differently abled where they can get skill training online counselling and job opportrunities. <br />
                    An Initiative by<a href="disabilityaffairs.gov.in/">Department Of Empowerment Of Persons With Disabilities</a> and under the <a href="socialjustice.nic.in/">Ministry Of Social Justice & Empowerment.</a>.</p>
                    <a href="#one" class="button special scrolly">Get Started</a>
                </div>
            </section>

        <!-- footer -->
            <br><br><br>
            <section >
              <div class="1">
                <div >
                    <div>
                       
                    </div>
                </div>
            
                <div >
                    <div ">
                       
                    </div>
                </div>
              </div>
            </section>
             <section id="four" class="wrapper style3">
                <div class="inner">
   
                     <div>
                            
                           <a href="" >Home</a><br>
                            <a href="">Login</a>                                                    
                           <a href="">Gallery & Events</a></br>
                          <a href="">Schemes & Circulars</a></br>
                        </div>
                       <div   style="margin-left: 70%; ">
                            
                           <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-youtube"></a>
                        </div>
                </div>
            </section>

       
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>