
<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Job Portal For PwD's</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<!-- Header -->
			 <header id="header" class="alt">
                <div class="logo"><img src="images/utthan.png" height="30px" width="100px" style="background-color: #111e14;"></div>
                <!-- <div class="logo"><img src="images/hunar2.png" height="30px" width="100px" style="background-color: #111e14;"></div> -->
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>


		<!-- Nav -->
		
            <nav id="menu">
                <ul class="links">
                    <li><a href="/mainhome">Home</a></li>
                    <li>
                       <div class="dropdown">
                              <span style="color:white">Login</span>
                              <div class="dropdown-content">
                                <a href="/users/login" >User</a><br>
                                <a href="/trainers/login">Trainer</a><br>
                                <a href="/employers/login">Employers</a>
                              </div>
                            </div>
                    </li><br>

                    
                    <li>
                       <div class="dropdown">
                              <span style="color:white">Register</span>
                              <div class="dropdown-content">
                                <a href="/users/register">User</a><br>
                                <a href="/trainers/register">Trainer</a><br>
                                <a href="/employers/register">Employers</a>
                              </div>
                            </div>
                    </li>

                    <li><a href="">Inspiration</a></li>
                    <li><a href="">Gallery & Events</a></li>
                    <li><a href="http://www.nhfdc.nic.in/how-to-obtain-loan">Schemes & Circulars</a></li>
                    
                </ul>
            </nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/ups">
				<div class="inner">
					<h1>Online Portal For the Differently Abled</h1>
					<p>An online web application for the differently abled where they can get skill training online counselling and job opportrunities. <br />
					An Initiative by <a href="disabilityaffairs.gov.in/">Department Of Empowerment Of Persons With Disabilities</a> and under the <a href="socialjustice.nic.in/">Ministry Of Social Justice & Empowerment.</a>.</p>
					<a href="#one" class="button special scrolly">Get Started</a>

					<!-- <h1>A Wholesome Portal For the Specially Abled</h1>
					<p> Madhyam is a wholistic website available in 10 languages for the specially abled that not only helps them land at the right job or train themselves for various skills but also provides crucial information on various aspects that goes unnoticed because of being scattered. The portal is a medium to opportunities with information regarding schemes, circulars, events, seat availability on various UG/PG courses, exams and their resources, as well as a platform to showcase their expertise and artwork which can also be bought. <br />
					<a href="#one" class="button special scrolly">Get Started</a> -->

					
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="images/sixthimage.jpg" alt="" style="height: 30em; width: 60em; margin-left: auto; margin-right: auto;" />
							</div>
							<div class="content"> 
								<header class="align-center">
									<h2>About The Portal</h2>
									<p>Web Portal for Skill Training, Councelling and Job Opportunities For the Differently Abled</p>
								</header>
								<hr />
								<p> The application allows the users to get online trainings according to their interest, apply in respective jobs and avail themself a chance to get online counseling to explore more of themselves and evolve.  </p>
								<p> It further allows the employer to put up employment opportunities for the user and thus hire ideal candidates with appropriate professional knowledge and skills. It also allows the Trainers to provide certified training courses to a mass of differently abled people. Along with this, we also provide a paltform for self-assessment through regular mock tests and interviews.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>Self Assessment Tests </h3>
							</header>
							<p> Self Assessment Tests are a way to strenghten your skills and enhance your chances to get selected for a job.</p>
							<ul class="actions">
								<li><a href="selfassessment.html" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Mock Interviews & Counseling</h3>
							</header>
							<p>This section allows the user to attempt for mock interviews and undertake counseling sessions if needed. </p>
							<ul class="actions">
								<li><a href="mocktest.html" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Preparation Scheduling</h3>
							</header>
							<p> This section helps the users to schedule their preparations for the upcoming job opportunities in case they are not confident.</p>
							<ul class="actions">
								<li><a href="scheduleprep.html" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/fourthimage.jpg" alt="" style="height: 20em;" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Shailesh Seth</h2>
										<p>Founder, The Antarnaad</p>
									</header>
									<hr />
									<p> The Antarnaad project is started by Differently Abled social entrepreneur Shailesh Sheth and supported by his team of physically Handicapped People and other young individuals who are determined to support differently abled young entrepreneurs, Start ups and provides entrepreneurship development training to improve skills and also provide a better world to live in. </p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/fifthimage.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Shilpi Kappor</h2>
										<p>Women Entrepreneur : Breaking Barriers Of Disability</p>
									</header>
									<hr />
									<p> With a view to fostering women entrepreneurship, Sify.com, in association with TiE Streeshakti (TSS), an entrepreneurship platform for Indian women, features a series on successful women entrepreneurs. TSS, set up by The Indus Entrepreneurs (TiE), was conceptualized to reach out to women who run micro, medium and large-scale enterprises across manufacturing, services and social sectors. 
                                    In 1995, Shilpi gave up a lucrative career to start a computer-training center for the disabled in association with an NGO and the Microsoft Bill Gates Foundation at her residence.</p>
								</div>
							</div>
					 	</div>

					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Morbi interdum mollis sapien</h2>
						<p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
					</header>

				</div>
			</section>

		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>