<!DOCTYPE HTML>
<html>
    <head>
        <title>Utthan</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body class="subpage">

        <!-- Header -->
            <header id="header">
                <div class="logo">Utthan</div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="generic.html">Generic</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
            </nav>

        <!-- One -->
            <section id="one" class="wrapper style2">
                <div class="inner">
                    <div class="box">
                    <div class="content">

                    <!-- Elements -->
                        <h2 id="elements">REGISTRATION PAGE (For the disabled)</h2>
                        <div class="row 200%">    
                                    
                            </div>
                            <div class="12u$ 12u$(medium)">

                            
                                    

                                <!-- Form -->
                                    <h4>User Registration</h4>

                                    <form method="POST" action="/users/register" enctype="multipart/form-data">
                                        <div class="row uniform">
                                            
                                            <div class="6u 12u$(xsmall)">
                                                <input type="email" name="username" id="email" placeholder="Email" />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="number" name="mobileno" id="mobileno" placeholder="Mobile Number" />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="password" name="password" id="password" placeholder="Password" />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" />
                                            </div>

                                            <div class="12u$">

                                            <hr>

                                            <h4>User Personal Details</h4>

                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="firstname" id="firstname" placeholder=" First Name" />
                                            </div>


                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="middlename" id="middlename" placeholder=" Middle Name" />
                                            </div>


                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="lastname" id="lastname" placeholder=" Last Name" />
                                            </div>


                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="fathersname" id="fathersname" placeholder=" Father's/Husband's Name" />
                                            </div>


                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="currentlocation" id="currentlocation" placeholder=" Current Location" />
                                            </div>

                                            <div class="12u$">
                                                <input type="text" name="addressline1" id="addressline1" placeholder=" Permanant Address line 1" />
                                            </div>

                                            <div class="12u$">
                                                <input type="text" name="addressline2" id="addressline2" placeholder=" Permanant Address Line 2" />
                                            </div>

                                            <div class="12u$">
                                                <input type="text" name="locality" id="locality" placeholder=" Locality" />
                                            </div>

                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="city" id="city" placeholder=" City/Village " />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="district" id="district" placeholder=" District " />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="state" id="state" placeholder=" State " required="" />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="country" id="country" placeholder=" Country " />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="postalcode" id="postalcode" placeholder=" Postal Code " />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="number" name="landlinenumber" id="landlinenumber" placeholder=" Landline Number " />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <label> Date Of Birth : 
                                                    <input type="date" name="dob" id="dateofbirth" placeholder=" Date Of Birth (DD/MM/YYYY)" />
                                                </label>
                                                
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <div class="select-wrapper">
                                                    <select name="gender" id="gender">
                                                        <option value="">- Gender -</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>    
                                                
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="number" name="aadharcardnumber" id="aadharcardnumber" placeholder=" Aadhar Card Number " />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="nationality" id="nationality" placeholder=" Nationality " />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <div class="select-wrapper">
                                                    <select name="community" id="community">
                                                        <option value="">- Community -</option>
                                                        <option value="Hindu">Hindu</option>
                                                        <option value="Muslim">Muslim</option>
                                                        <option value="Sikh">Sikh</option>
                                                        <option value="Christians">Christians</option>            
                                                        <option value="Zorastrians">Zorastrians</option>
                                                        <option value="Buddhists">Buddhists</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <div class="select-wrapper">
                                                    <select name="category" id="category">
                                                        <option value="">- Category -</option>
                                                        <option value="General">General</option>
                                                        <option value="OBC">OBC</option>
                                                        <option value="SC">SC</option>
                                                        <option value="ST">ST</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="12u$">

                                            <hr>

                                            <h4>Details Regarding Disability</h4>

                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="typeofdisability" id="typeofdisability" placeholder=" Type Of Disability " />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="disabilitysubtype" id="disabilitysubtype" placeholder=" Disability Subtype " />
                                            </div>


                                            <div class="4u 12u$(xsmall)">
                                                <input type="text" name="disabiltypercentage" id="disabilitypercentage" placeholder=" Disability Percentage " />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="disabilitycertificatenumber" id="disabilitycertificatenumber" placeholder=" Disability Certificate Number" />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <input type="text" name="certificateissuedby" id="certificateissuedby" placeholder=" Certificate Issued By " />
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <label for="uploaddisabilitycertificate"> Upload Disability Certificate :
                                                 <input type="file" name="file-to-upload">
                                                <label> Size Limit: 2 MB (Only in JPEG, DOC, PDF format)</label>
                                                </label>
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <label for="uploadrecentpassportphoto"> Upload Recent Passport Photo :
                                                <input type="file" name="file-to-upload">
                                                <label> Size Limit: 1 MB (Only in JPEG, PNG format)</label>
                                                </label>
                                            </div>

<!-- 
                                            <div class="12u$">

                                                 
                                                 <label for="nhfdcbeneficiary"> NHFDC Beneficiary : 
                                                   <input type="radio" name="nhfdcbeneficiary" id="nhfdcbeneficiary"/>
                                                   <label for="nhfdcbeneficiary">Yes</label>
                                                   <input type="radio" name="nhfdcbeneficiary" id="nhfdcbeneficiary"/>
                                                   <label for="nhfdcbeneficiary">No</label>
                                                </label> 
                                                
                                            </div> -->

                                            <div class="6u 12u$(xsmall)">
                                                <div class="select-wrapper">
                                                    <select name="nhfdcbeneficiary" id="nhfdcbeneficiary">
                                                        <option value="">- Answer -</option>
                                                        <option value="true">Yes</option>
                                                        <option value="false">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="6u$ 12u$(small)">
                                                <input type="checkbox" id="human" name="human" required>
                                                <label for="human">I am a human and not a robot</label>
                                            </div>
                                            
                                            <div class="row uniform">
                                            
                                            <div class="12u$(small)">
                                                <input type="submit" value="Submit" class="fit" style="margin-left: 20em" />
                                            </div>

                                            </div>
                                            
                                        </div>

                                    </form>

                                    

                                    <!-- <form method="post" action="#"> -->
                

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="four" class="wrapper style3">
                <div class="inner">

                    <header class="align-center">
                        <h2>Morbi interdum mollis sapien</h2>
                        <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    </header>

                </div>
            </section>


        
    
        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>

